.black{
	background-color: white;
}

@font-face {
  font-family: 'Material Icons';
  src: url("../fonts/MaterialIcons-Regular.ttf");
}

@font-face {
  font-family: 'Big Space';
  src: url("../fonts/Big Space.otf");
}

@font-face {
  font-family: 'Robotic';
  src: url("../fonts/jedth.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf");
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	cursor: pointer;
	display: inline-block;
}

nav{
	font-family: 'Poppins'; 
	background-color: #90CAF9; 
	color: white;
}
.center{
	display: block;
	margin: auto;
}

.mode-btn{
	width: 100%;
	height: 60px;
	padding-top: 15px;
	margin-bottom: 20px;
	font-family: 'Poppins';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	border: 0px;
	background-color: #90CAF9;
	transition: background 1.5s;
	box-shadow: 0 4px 8px 0 rgba(132, 177, 255, 0.2), 0 6px 20px 0 rgba(144, 202, 249, 0.19);
	cursor: pointer;
	color: white;
}

.robo{
	font-family: 'Big Space';
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #90CAF9, 0 0 40px #90CAF9, 0 0 50px #90CAF9, 0 0 60px #90CAF9, 0 0 70px #90CAF9;
	color: #2b6bd9;
	font-weight: normal;
	font-style: normal;
	font-size: 70px;
}

.mode-btn:hover{
	background-color: #84B1FF;
}

.header{
	font-family: 'Poppins';
	text-align: center;
	margin-top:60px;
	margin-bottom: 20px;
	font-size: 25px;
}

.grid-container {
	display: grid;
	width: 500px;
	grid-template-columns: auto auto auto;
	border-radius: 5px;
}

.grid-item {
	width: 150px;
	box-shadow: 0 4px 8px 0 rgba(144, 202, 249, 0.2), 0 6px 20px 0 rgba(144, 202, 249, 0.19);
  	font-size: 30px;
  	margin: 5px;
  	text-align: center;
}

.inp{
	width: 140px;
	height: 140px;
	cursor: pointer;
	background-color: white;
	border-radius: 0px;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 50px;
}

@media (min-width: 768px){
	.header{
		font-family: 'Poppins';
		text-align: center;
		margin-top: 200px;
		margin-bottom: 20px;
		font-size: 40px;
	}
	nav{
		height: 150px;
		font-size: 100px;
	}
	nav span a i{
		font-size: 100px;
	}
	.inp{
		width: 220px;
		height: 220px;
		cursor: pointer;
		background-color: white;
		border-radius: 0px;
		font-family: "Poppins";
		font-weight: bold;
		font-size: 50px;
	}

	.grid-container {
		display: grid;
		width: 690px;
		grid-template-columns: auto auto auto;
		border-radius: 5px;
	}

	.grid-item {
		width: 230px;
		box-shadow: 0 4px 8px 0 rgba(144, 202, 249, 0.2), 0 6px 20px 0 rgba(144, 202, 249, 0.19);
	  	font-size: 30px;
	  	margin: 5px;
	  	text-align: center;
	}
}



